@import "zero";
@import "fonts";

body{
    background-color: #000;
}

.wrapper{
    width: 100%;

    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        width: 100%;
        height: 8000px;
        top: 0;
        background: url('../img/bg/texture_5009.png');
    }
}

.contain{
    width: 1223px;
    margin: 0 auto;
    position: relative;
}

.header{
    width: 100%;
    color: #fff;
    display: flex;
    margin-top: 138px;
    position: relative;
    margin-bottom: 169px;

    .header__title {
        width: 360px;
        margin: 0 auto;
        text-align: center;
        font-size: 76.6px;
        line-height: 59px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .header__body{
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 0;

        .header__race2022 {
            width: 88px;
            height: 62px;
            margin-top: -30px;

            .race2022__title {
                font-size: 14.1px;
                line-height: 13px;
                font-weight: 800;
                text-transform: uppercase;
                padding: 5px;
            }
    
            .race2022__text {
                color: #000;
                font-size: 25px;
                font-weight: 800;
                text-transform: uppercase;
                background-color: #fff;
                padding: 10px;
            }
        }

        .header__list {
            display: flex;
            margin-top: 67px;
            
            li{
                margin: 0 18px;
                font-size: 17.6px;
                line-height: 13px;
                font-weight: 500;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 1s ease 0.3s;
            }

            li:hover{
                text-decoration: underline;
            }
        }

        .header__register {
            color: #fff;
            font-size: 22.8px;
            line-height: 22px;
            font-weight: 500;
            text-transform: uppercase;
            width: 136px;
            height: 44px;
            border: 2px solid #ffffff;
            background-color: unset;
            margin-top: 40px;
        }
    }

    &:before{
        content:'';
        max-width: 1214px;
        height: 1px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        margin: 245px auto 0px auto;
    }
}

.versatile {
    .versatile__body {
        .versatile__header {
            .versatile__title {
                max-width: 333px;
                margin-bottom: 60px;

                font-size: 30.4px;
                line-height: 33px;
                font-weight: 500;
                text-transform: uppercase;
            }
            .versatile__text-1 {
                max-width: 432px;
                margin-bottom: 32px;

                font-size: 15.4px;
                line-height: 18px;
                font-weight: 400;
            }
            .versatile__text-2 {
                max-width: 402px;
                margin-bottom: 112px;

                font-size: 15.4px;
                line-height: 18px;
                font-weight: 400;
            }
        }
        .versatile__title-2 {
            font-size: 92.4px;
            line-height: 71px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 362px;

            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px;

        }
        .versatile__register {
            .versatile__register-title {
                max-width: 370px;
                margin-bottom: 52px;
                
                font-size: 33.5px;
                line-height: 36px;
                font-weight: 500;
                text-transform: uppercase;
            }

            %form-card{
                height: 31px;
                border: 3px solid #ffffff;
                background-color: transparent;
                margin: 15px 0;
                padding: 10px;
                font-size: 10px;
                color: #fff;
            }

            .versatile__form {
                max-width: 425px;
                display: flex;
                flex-direction: column;
            }
            .user-category {
                @extend %form-card;
            }
            .user-name {
                @extend %form-card;
            }
            .user-email {
                @extend %form-card;
            }
            .versatile__button {
                height: 31px;
                border: 2px solid #ffffff;
                font-size: 19.5px;
                line-height: 15px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            .versatile__register-text {
                width: 409px;

                font-size: 11.1px;
                line-height: 13px;
                font-weight: 400;
            }
        }
        .versatile__image-rider {
            position: absolute;
            display: flex;
            top: 0;
            right: 53px;
            z-index: -1;
        }
    }

    .versatile__image-bg {
        position: absolute;
        width: 100%;
        height: 180%;
        z-index: -2;
        top: 742px;
        left: 0;
        right: 0;
        background: url("../img/bg/grid_5012.png")0 0 no-repeat;
        opacity: 0.2;
        background-size: 100%;
    }
}